* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navegacao {
  display: flex;
  list-style-type: none;
}

.navegacao li {
  color: white;
  padding: 10px;
  font-size: x-large;
}

a {
  text-decoration:none;
}

.container-produto {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
}

.container-descricao p{
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2%
}

.container-descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem-produto {
  width: 80%;
}

.preco {
  font-size: 20px;
}

footer {
  display: flex;
  background-color: #000;
  color: white;
  justify-content: space-around;
}