* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navegacao {
  display: flex;
  list-style-type: none;
}

.navegacao li {
  color: white;
  padding: 10px;
  font-size: x-large;
}

a {
  text-decoration: none;
}

.container-produto {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
  justify-content: space-between;
}

.container-descricao p {
  text-align: center;
}

.sub-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
  gap: 2%;
}

.container-descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem-produto {
  width: 80%;
}

.preco {
  margin: 5px 0;
  font-size: 20px;
}

.botao-adicionar-carrinho {
  margin: 0 0 10px 0;
  color: white;
  background-color: black;
  border: 0;
  padding: 15px;
  border-radius: 5px;
}

.preco-desconto {
  display: flex;
  flex-direction: row;
}

.desconto {
  margin-left: 10px;
  color: red;
  text-decoration: line-through;
}

.descricao-pagina {
  margin: 20px 0 -10px 20px;
  font-size: 20px;
}

footer {
  display: flex;
  background-color: #000;
  color: white;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 1070px) {
  .container-produto {
    width: 30% ;
  }

  .container-descricao {
    font-size: 15px;
  }

  .preco-desconto p{
    font-size: 15px;
  }
}

@media screen and (max-width: 775px) {
  .container-produto {
    width: 40% ;
  }
  .descricao-pagina {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container-produto {
    width: 90%;
  }

  .logo {
    width: 100px;
  }

  .navegacao li {
    font-size: 20px;
  }

  footer {
    flex-direction: column;
    height: auto;
  }

  footer p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .Toastify__toast {
    margin-bottom: 8px;
  }
}